DATABASE_URL="postgresql://neondb_owner:npg_SB9ytwb8mWRZ@ep-aged-hall-aqal15np-pooler.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
# Better Auth
BETTER_AUTH_URL="http://localhost:3000"
BETTER_AUTH_SECRET="a5f4c132e21bd797641d6b7752d655b562ffd168b136533ab27e98459e43ec5c"
UPLOADTHING_TOKEN='eyJhcGlLZXkiOiJza19saXZlXzU1NzIzYzJiNGU3Nzc0ODllNTc2MzVjODBjNDg2NWUzNDdjODQ5NTcwMDg1ZTI1YjZjMDIyN2E1ZTIwOGQ2YWMiLCJhcHBJZCI6Imozc2owMXFhc2siLCJyZWdpb25zIjpbInNlYTEiXX0='

ADMIN_BOOTSTRAP_SECRET=94c0369761532e32f9d8fa6a70121e88461d1c9fa88502dd
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_QkPiaDvmqfJ5eJeM_J0aoUC6y7MpuBedDmRq8B9vF8Y3DTe"
